* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-image: url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 30px;
    border: 1px solid transparent;
     transition: 0.5s ease;
    
}

ul li a:hover {
    background-color: white;
    color:black;
}
ul li.home a {
    background:transparent;
    color:whitesmoke;
    transition: 0.5s ease;
    background-color: rgba(175, 182, 189, 0.855);
}
ul li.home a:hover {
    background-color: white;
    color:black;}


ul li.active a {
    background:transparent;
    color:whitesmoke;
    transition: 0.5s ease;
}
ul li.active a:hover {
    background-color: white;
    color:black;
}


ul li.wait a {
    background: transparent;
    color: whitesmoke;
    transition: 0.5s ease;
    
}    
ul li.wait a:hover {
    background-color: white;
    color:black;
}

.logo img {
    float: left;
    width: 200px;
    height: auto;
    
    box-shadow:10%,aqua;
    border-radius: 7%;
}

.main {
    max-width: 1200px;
    margin: auto;
}
.dropdown{
    display: none;
    
}
ul li:hover .dropdown{
    display: block;
    position: absolute;
    background: transparent;
    color:black; 
    margin-bottom: 15px;
    padding: 2px;
    text-align: center;
}
ul li:hover .dropdown ul{
    display: block;
    margin: 10px;
}
ul li:hover .dropdown ul li {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background-color: transparent;
    text-align: center;
    background-color: rgba(175, 182, 189, 0.855);
    color:black; 
    
}


.title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color:#F29727;
}

.title h1 {
    font-size: 80px;
    text-align: center;
}

.title h2 {
    font-size: 60px;
    text-align: center;
}

.info {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.info h3 {
    color: rgba(240, 255, 255, 0.505);
    font-size: 50px;
    
}

.info p {
    color: rgba(240, 255, 255, 0.505);
}

.button {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: none;
    color: black;
    border: 2px solid transparent;
    padding: 15px 30px;
    color:whitesmoke;
    font-size: 30px;
    text-decoration: none;
    transition: 0.6s ease;
}
 .btn:hover {
    background-color: white;
    color: black;
}
